In [140]:
import pandas as pd
import numpy as np

In [141]:
df= pd.read_csv('Dataset  Project 1 - Weather Data Analysis.csv')
df.shape

(8784, 8)

In [142]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [143]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [144]:
df.duplicated().sum()

0

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [146]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [147]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [148]:
df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [149]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [150]:
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [151]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [152]:
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [153]:
df['Date/Time']= pd.to_datetime(df['Date/Time'])
df['Date/Time'].dtypes

dtype('<M8[ns]')

#### 1) Find all the unique 'Wind Speed' values in the dataset.

In [154]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [155]:
df['Wind Speed_km/h'].nunique()

34

In [156]:
df['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

#### 2) Find the number of times when "Weather is exactly clear"

In [157]:
df[df['Weather']=='Mainly Clear'].shape[0]

2106

In [158]:
df.groupby('Weather').get_group('Fog').sample()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
6629,2012-10-03 05:00:00,11.0,11.0,100,11,3.2,101.38,Fog

#### 3) Find the number of times the Wind Speed was exactly 4km/h

In [159]:
df[df['Wind Speed_km/h']==4].shape[0]

474

In [160]:
df.groupby('Wind Speed_km/h').get_group(4).sample()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8206,2012-12-07 22:00:00,2.3,-2.5,71,4,25.0,101.19,Cloudy

#### 4) Find all the Null values in the dataset

In [161]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

#### 5) Rename the column "Weather" to "Weather Coditions"

In [126]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [127]:
df.rename(columns= {'Weather': "Weather_Conditions"}, inplace=True)
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather_Conditions'],
      dtype='object')

#### 6) What is the mean "Visibility"

In [128]:
df.columns[5]

'Visibility_km'

In [129]:
df[df.columns[5]].mean()

27.66444672131151

#### 7) What is the Standard Deviation of Pressure

In [130]:
df[df.columns[6]].std()

0.8440047459486474

#### 8) What is the Variance of Relative Humidity

In [131]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather_Conditions'],
      dtype='object')

In [132]:
df[df.columns[3]].var()

286.2485501984998

#### 9) Find all the instances when "Snow" was recorded

In [133]:
df[df.columns[7]].str.contains('Snow').value_counts()

False    8201
True      583
Name: Weather_Conditions, dtype: int64

#### 10) Find all the instances when Wind Speed is above 24 and Visibility is 25

In [134]:
ws= df[(df['Wind Speed_km/h']>24)  &  (df['Visibility_km']==25)]
print(ws.shape[0],"\n")
ws.head(1)

308

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy

#### 11) What is the Mean value of each Weather Condition

In [135]:
df.groupby(df.columns[7]).mean().sample(5)

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather_Conditions,,,,,,
Snow,-4.524103,-7.623333,79.307692,20.038462,11.171795,100.536103
"Rain Showers,Snow Showers",2.150000,-1.500000,76.500000,22.500000,21.700000,101.100000
"Snow Showers,Fog",-10.675000,-11.900000,90.750000,13.750000,7.025000,101.292500
"Rain,Haze",4.633333,2.066667,83.333333,11.666667,6.700000,100.540000
"Rain,Fog",8.273276,7.219828,93.189655,14.793103,6.873276,100.500862

#### 12) What is the minimum and maximum value of each column against each Weather Condition

In [136]:
df.groupby(df.columns[7]).agg((min, max)).sample(2)

                               Date/Time                     Temp_C        \
                                     min                 max    min   max
Weather_Conditions
Fog                  2012-01-01 00:00:00 2012-12-29 10:00:00  -16.0  20.8
Freezing Drizzle,Fog 2012-01-01 02:00:00 2012-12-10 05:00:00   -6.4  -0.3

                     Dew Point Temp_C       Rel Hum_%      Wind Speed_km/h  \
                                  min   max       min  max             min
Weather_Conditions
Fog                             -17.2  19.6        80  100               0
Freezing Drizzle,Fog             -9.0  -2.3        82   94               6

                         Visibility_km      Press_kPa
                     max           min  max       min     max
Weather_Conditions
Fog                   22           0.2  9.7     98.31  103.04
Freezing Drizzle,Fog  33           3.6  8.0     98.74  101.27

#### 13) Show all the records where Weather Condition is Fog

In [137]:
print(df[df[df.columns[7]]=='Fog'].shape[0])
df[df[df.columns[7]]=='Fog'].tail(2)

150

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
8719,2012-12-29 07:00:00,-14.8,-16.4,88,7,8.0,101.22,Fog
8722,2012-12-29 10:00:00,-12.0,-13.3,90,7,6.4,101.15,Fog

#### 14) Find all the instances when Weather is Clear or Visibility is above 40

In [138]:
print(df[(df[df.columns[7]]=='Clear')  |  (df[df.columns[5]]>40)].shape[0])
df[(df[df.columns[7]]=='Clear')  |  (df[df.columns[5]]>40)].sample(5)

3027

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
4350,2012-06-30 06:00:00,21.6,13.2,59,28,48.3,99.85,Mostly Cloudy
5860,2012-09-01 04:00:00,16.3,12.8,80,11,25.0,101.21,Clear
7557,2012-11-10 21:00:00,1.8,-6.1,56,9,25.0,102.53,Clear
5274,2012-08-07 18:00:00,27.0,13.8,44,15,48.3,100.74,Mostly Cloudy
3217,2012-05-14 01:00:00,12.8,7.1,68,6,25.0,101.51,Clear

#### 15) Find all the instances when "Weather" is Clear and "Relative Humidity" is greater than 50 or "Visibility" is above 40.

In [139]:
print(df[((df[df.columns[7]]=='Clear')  &  (df[df.columns[3]]>50))  |  (df[df.columns[5]]>40)].shape[0])
df[((df[df.columns[7]]=='Clear')  &  (df[df.columns[3]]>50))  |  (df[df.columns[5]]>40)].sample(5)

2921

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
3847,2012-06-09 07:00:00,16.0,9.7,66,6,48.3,100.76,Mainly Clear
2047,2012-03-26 07:00:00,-3.8,-13.6,46,26,48.3,101.19,Mainly Clear
3392,2012-05-21 08:00:00,24.0,11.1,44,19,48.3,101.69,Mostly Cloudy
2366,2012-04-08 14:00:00,12.1,-3.5,33,20,48.3,99.97,Mostly Cloudy
7626,2012-11-13 18:00:00,2.5,-5.5,56,11,25.0,102.54,Clear